<div class="container">
  <h3>Username: {{profile.username}}</h3>
  <h4>Password: Encoded in Database!</h4>
  <h4>Email: {{profile.email}}</h4>
  <h4>Roles: {{profile.roles}}</h4>
  <button mat-raised-button color="primary" routerLink="/my-profile/settings/change-password">Change password</button>
  <button mat-raised-button color="primary" routerLink="/my-profile/settings/change-email">Change email</button>
  <br>
  <a [routerLink]="['/my-profile']" routerLinkActive="router-link-active"><i><u>Back to your profile</u></i></a><br>
</div>
