<h1 mat-dialog-title>Choose rival</h1>
<form [formGroup]="makeChallengeForm" autocomplete="off">
  <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Rival</mat-label>
        <input matInput formControlName="defenderUsername" required>
        <mat-error class="error" *ngFor="let error of dtoError.defenderUsername">{{error}}</mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button class="btn" mat-raised-button color="primary" (click)="getRandomRival()">Find random rival</button>
    <div class="btns">
      <button mat-raised-button (click)="onSubmit(makeChallengeForm)">Ok</button>
      <button mat-raised-button (click)="onNoClick()">Back</button>
    </div>
  </div>
</form>
