<div class="container">
    <div class="row-fluid">
      <div>
        <div id="experience">
          <h2>Level: {{profile.level}}</h2>
          <h2>Rank: {{profile.currentRank}}</h2>
          <h3>Current: {{profile.experience}} XP</h3>
          <h3>Left to the next level: {{profile.leftExperienceToTheNextLevel}} XP</h3>
        </div>
        <ngb-progressbar type="success" height="45px" [value]="profile.currentExperienceInPercents"
                         [showValue]="true" [striped]="true" [animated]="true"></ngb-progressbar>
        <div id="details">
          <h3>Username: {{profile.username}}</h3>
          <h4>Password: Encoded in Database!</h4>
          <h4>Email: {{profile.email}}</h4>
          <h4>Roles: {{profile.roles}}</h4>
        </div>
      </div>
    </div>
  <button mat-raised-button color="primary" routerLink="/profile/change-password">Change password</button>
  <button mat-raised-button color="primary" routerLink="/profile/change-email">Change email</button>
  <br>
</div>
