<div class="container">
    <div class="row-fluid">
      <div>
        <div id="experience">
          <h2>Level: {{profile.level}}</h2>
          <h2>Rank: {{profile.currentRank}}</h2>
          <h5>{{profile.experience}} XP</h5>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%"></div>
        </div>
        <div id="details">
          <h3>Username: {{profile.username}}</h3>
          <h4>Password: Encoded in Database!</h4>
          <h4>Email: {{profile.email}}</h4>
          <h4>Roles: {{profile.roles}}</h4>
        </div>
      </div>
    </div>
  <a routerLink="/profile/change-password"><button class="btn btn-success pull-right">Change password</button></a>
  <a routerLink="/profile/change-email"><button class="btn btn-success pull-right">Change email</button></a>
  <br>
</div>
