<mat-card class="my-card col-sm-12">
  <mat-card-header>
    <mat-card-title><h3>Sign in</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" autocomplete="off">

      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error class="error" *ngIf="username.invalid && (username.dirty || username.touched)">
          Username is required
        </mat-error>
        <mat-error class="error" *ngFor="let error of dtoError.username">{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
          Password is required
        </mat-error>
        <mat-error class="error" *ngFor="let error of dtoError.password">{{error}}</mat-error>
      </mat-form-field>

      <mat-card-footer>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </mat-card-footer>

    </form>
  </mat-card-content>
</mat-card>
