.vote {
  opacity: 0.85;
  margin-top: 1%;
  background-color: #E8E8E8;
}

.post {
  width: 100%;
  display: block;
  opacity: 0.85;
  margin-top: 1%;
  background-color: #E8E8E8;
}

ul {
  margin: 1% 0 1% 0;
}

td {
  color: #FFFFFF;
}

.nav-link {
  background-color: #FFFFFF;
}

.row .voteElements {
  margin: 3% auto;
}

button {
  font-size: 150%;
  font-weight: bold;
}

.plusBtn {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.minusBtn {
  color: #D8000C;
  background-color: #FFD2D2;
}

a {
  cursor: pointer;
}
