<div>
  <div class="row" *ngFor="let post of posts">
    <div class="col-3 vote">
      <div *ngIf="authService.isAuthenticated()" class="row voteElements">
        <div class="col"><button class="plusBtn" mat-button (click)="votePost(post.id, 'YES')">+</button></div>
        <div class="col"><h2>{{post.upVote}}</h2></div>
        <div class="w-100"></div>
        <div class="col"><button class="minusBtn" mat-button (click)="votePost(post.id, 'NO')">-</button></div>
        <div class="col"><h2>{{post.downVote}}</h2></div>
      </div>
      <div *ngIf="!authService.isAuthenticated()" class="row voteElements">
        <div class="col"><button mat-button disabled>+</button></div>
        <div class="col"><h2>{{post.upVote}}</h2></div>
        <div class="w-100"></div>
        <div class="col"><button mat-button disabled>-</button></div>
        <div class="col"><h2>{{post.downVote}}</h2></div>
      </div>
    </div>
    <div class="col-9 post">
      <h2><a [routerLink]="['/forum/post', post.id]" routerLinkActive="router-link-active">{{post.title}}</a></h2>
      <h6>{{post.description}}</h6>
      <p>
         Author:&nbsp;<a [routerLink]="['/profile', post.username]" routerLinkActive="router-link-active"><u><i>{{post.username}}</i></u></a>
         Date:&nbsp;{{post.date}}
      </p>
    </div>
  </div>
</div>

<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let p of pages; let i=index">
    <a class="nav-link" href="#" (click)="setPage(i, $event)" [ngClass]="{'active':i==page}">{{i}}</a>
  </li>
</ul>
