<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div *ngIf="!authService.isAuthenticated()" class="navbar-nav">
        <span><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a></span>
        <span><a [routerLink]="['/forum']" routerLinkActive="router-link-active">Forum</a></span>
        <span><a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a></span>
        <span><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></span>
      </div>
      <div *ngIf="authService.isAuthenticated()" class="navbar-nav">
        <span><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a></span>
        <span><a [routerLink]="['/forum']" routerLinkActive="router-link-active">Forum</a></span>
        <span><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a></span>
        <span><a id="logoutHref" (click)="authService.logout()">Logout</a></span>
      </div>
    </div>
  </nav>
</header>

<section class="container">
  <router-outlet></router-outlet>
</section>

<footer class="page-footer bg-dark">
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Robert Krzywina</div>
</footer>
