header {
  font-size: 25px;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
}
