header {
  font-size: 25px;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

#logoutHref {
  color: white;
  cursor: pointer;
}
