.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
