<div *ngIf="!authService.isAuthenticated()">
  <h2>U need to <a [routerLink]="['/login']" routerLinkActive="router-link-active">sign in</a> to create, vote and comment posts.</h2>
  <h2>Don't have account yet? Click <a [routerLink]="['/register']" routerLinkActive="router-link-active">here</a> to register.</h2>
</div>

<div *ngIf="authService.isAuthenticated()">
  <button class="btn btn-primary ribbon" routerLink="/forum/add-post"><h1>Create new post</h1></button>
</div>

<app-list-post></app-list-post>
