#header {
  margin-top: 10px;
}

.header-content {
  border-left: 20px solid #007bff;
}

.row {
  margin-top: 5px;
  background-color: #E8E8E8;
  opacity: 0.80;
}

.title {
  margin-top: 10px;
  height: 70px;
}

a {
  font-style: italic;
  text-decoration: underline;
}

.comment {
  border-left: 20px solid #ffc107;
  background-color: lightgrey;
}

.details {
  background-color: #E8E8E8;
}

.alert-warning {
  margin-top: 10px;
  opacity: 0.80;
}
