<div class="row header-content">
  <div class="col-12">
    <h1><b>Title:</b> {{post.title}}</h1>
  </div>
</div>
<div class="row header-content">
  <div class="col-6">
    <h3><b>Up Votes:</b> {{post.upVote}}</h3>
    <h3><b>Down Votes:</b> {{post.downVote}}</h3>
  </div>
  <div class="col-6">
    <h3><b>Author:</b>&nbsp;<a matTooltip="Info about the post owner"
                               (click)="showForumUserProfile(post.username)"><u><i>{{post.username}}</i></u></a></h3>
    <h3><b>Date:</b> {{post.date}} <b>Time:</b> {{post.time}}</h3>
  </div>
</div>
<div class="row header-content">
  <div class="col">
    <h3><b>Question:</b> {{post.description}}</h3>
  </div>
</div>
<br>
<div *ngFor="let comment of comments" class="row comment">
  <div class="col-3 details">
    <b>Created by:</b>&nbsp;<a matTooltip="Info about the comment owner"
                               (click)="showForumUserProfile(comment.username)"><u><i>{{comment.username}}</i></u></a>
    <br><b>Date:</b>&nbsp;{{comment.date}}&nbsp;<b>Time:</b>&nbsp;{{comment.time}}
  </div>
  <div class="col-9">
    <p>{{comment.text}}</p>
  </div>
</div>

<div *ngIf="!authService.isAuthenticated()" class="alert alert-warning">
  <h5>U need to <a [routerLink]="['/login']" routerLinkActive="router-link-active">sign in</a> comment posts.</h5>
  <h5>Don't have account yet? Click <a [routerLink]="['/register']" routerLinkActive="router-link-active">here</a> to register.</h5>
</div>

<app-add-comment *ngIf="authService.isAuthenticated()"></app-add-comment>
