<h1 mat-dialog-title>Add post</h1>
<form class="my-form" [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm)" autocomplete="off">

  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" maxlength="50" required>
      <mat-error class="error" *ngFor="let error of dtoError.title">{{error}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" maxlength="255" required rows="4"></textarea>
      <mat-error class="error" *ngFor="let error of dtoError.description">{{error}}</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!addPostForm.valid">Add</button>
    <button mat-raised-button (click)="onNoClick()">Back</button>
  </div>

</form>
