<h1>Submited</h1>
<hr/>
<div *ngIf="submitedChallenges.length != 0">
  <table class="table">
    <thead class="table-primary">
    <tr>
      <th>#</th>
      <th><i class="far fa-user"></i></th>
      <th><i class="far fa-calendar-alt"></i></th>
      <th><i class="far fa-clock"></i></th>
    </tr>
    </thead>
    <tbody *ngFor="let submitedChallenge of submitedChallenges; let i = index">
    <tr>
      <td>{{i+1}}</td>
      <td><a matTooltip="Info about the rival" (click)="showRivalProfile(submitedChallenge.opponentName)"><u><i>{{submitedChallenge.opponentName}}</i></u></a></td>
      <td>{{submitedChallenge.date}}</td>
      <td>{{submitedChallenge.time}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="submitedChallenges.length == 0">
  <p>No submited challenges!</p>
</div>
