<h1>Pending</h1>
<hr/>
<div *ngIf="pendingChallenges.length != 0">
  <table class="table">
    <thead class="table-primary">
    <tr>
      <th>#</th>
      <th><i class="far fa-user"></i></th>
      <th><i class="far fa-calendar-alt"></i></th>
      <th><i class="far fa-clock"></i></th>
      <th><i class="fa fa-wrench"></i></th>
    </tr>
    </thead>
    <tbody *ngFor="let pendingChallenge of pendingChallenges; let i = index">
    <tr>
      <td>{{i + 1}}</td>
      <td><a matTooltip="Info about the rival" (click)="showRivalProfile(pendingChallenge.opponentName)"><u><i>{{pendingChallenge.opponentName}}</i></u></a></td>
      <td>{{pendingChallenge.date}}</td>
      <td>{{pendingChallenge.time}}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="accept(pendingChallenge.id)">Accept</button>&nbsp;
        <button class="btn btn-danger btn-sm" (click)="decline(pendingChallenge.id)">Decline</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="pendingChallenges.length == 0">
  <p>No pending challenges!</p>
</div>
